openapi: 3.0.2
info:
  title: Fire Financial Services Business API
  description: >
    The fire.com API allows you to deeply integrate Business Account features
    into your application or back-office systems.


    The API provides read access to your profile, accounts and transactions,
    event-driven notifications of activity on the account and payment initiation
    via batches. Each feature has its own HTTP endpoint and every endpoint has
    its own permission.



    The API exposes 3 main areas of functionality: financial functions, service
    information and service configuration.

    ## Financial Functions

    These functions provide access to your account details, transactions, payee
    accounts, payment initiation etc.

    ## Service Functions

    These provide information about the fees and limits applied to your account.

    ## Service configuration

    These provide information about your service configs - applications,
    webhooks, API tokens, etc.
  version: '1.0'
  contact:
    name: Fire API
    url: 'https://docs.fire.com'
    email: api@fire.com
servers:
  - url: 'https://api.fire.com/business'
    description: Production Server
paths:
  /v1/apps/accesstokens:
    post:
      summary: Authenticate with the API.
      description: >
        Access to the API is by Bearer Tokens. The process is somewhat similar
        to OAuth2.0, but with some changes to improve security.

          1. You must first log into the firework online application and create a new Application in the Profile > API page. (You will need your PIN digits and 2-Factor Authentication device).
          
          2. Give your application a Name and select the scope/permissions you need the application to have (more on Scopes below).
          
          3. You will be provided with three pieces of information - the App Refresh Token, Client ID and Client Key. You need to take note of the Client Key when it is displayed - it will not be shown again.
          
          
          You now use these pieces of data to retrieve a short-term Access Token which you can use to access the API. The Access Token expires within a relatively short time, so even if it is compromised, the attacker will not have long to use it. The Client Key is the most important piece of information to keep secret. This should only ever be stored on a backend server, and never in a front end client or mobile app.


          **If you ever accidentally reveal the Client Key (or accidentally commit it to Github for instance) it is vital that you log into firework online and delete/recreate the App Tokens as soon as possible. Anyone who has these three pieces of data can access the API to view your data and set up payments from your account (depending on the scope of the tokens).**
          
          
          Once you have the access token, pass it as a header for every call, like so:

          `Authorization: Bearer $ACCESS_TOKEN`

          Whenever it expires, create a new nonce and get a new access token again.
      tags:
        - Authentication
      operationId: authenticate
      security: []
      requestBody:
        required: true
        description: Authentication data
        content:
          application/json:
            schema:
              title: authentication
              type: object
              properties:
                clientId:
                  type: string
                  description: The Client ID for this API Application
                  example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                refreshToken:
                  type: string
                  description: The Refresh Token for this API Application
                  example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                nonce:
                  type: integer
                  format: int64
                  description: >-
                    A random non-repeating number used as a salt for the
                    `clientSecret` below. The simplest nonce is a unix time.
                  example: 728345638475
                grantType:
                  type: string
                  enum:
                    - AccessToken
                  description: >-
                    Always `AccessToken`. (This will change to `refresh_token`
                    in a future release.)
                clientSecret:
                  type: string
                  description: >-
                    The SHA256 hash of the nonce above and the app’s Client Key.
                    The Client Key will only be shown to you when you create the
                    app, so don’t forget to save it somewhere safe. SECRET=(
                    `/bin/echo -n $NONCE$CLIENT_KEY | sha256sum` ).
                  example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                title: accessToken
                type: object
                properties:
                  businessId:
                    type: integer
                    format: int64
                    description: The business ID for the business.
                    example: 248
                  apiApplicationId:
                    type: integer
                    format: int64
                    description: The ID of the application you are using.
                    example: 433
                  expiry:
                    type: string
                    format: date-time
                    description: The expiry date and time for this token (ISO-8601).
                    example: '2020-10-22T07:48:56.460Z'
                  permissions:
                    type: array
                    items:
                      type: string
                    description: >-
                      The permissions assigned to the Access Token as an array
                      of strings. This provides information on what API access
                      it is allowed. See the section on Scope below.
                    example:
                      - PERM_BUSINESSES_GET_ACCOUNTS
                      - PERM_BUSINESSES_GET_ACCOUNT_TRANSACTIONS
                  accessToken:
                    type: string
                    description: >-
                      The App Bearer Access Token you can use in further API
                      calls.
                    example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
  /v1/accounts:
    get:
      summary: List all fire.com Accounts
      description: >-
        Returns all your fire.com Accounts. Ordered by Alias ascending. Can be
        paginated.
      tags:
        - Accounts
      operationId: getAccounts
      responses:
        '200':
          description: An array of account objects.
          content:
            application/json:
              schema:
                title: accounts
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      title: Account
                      type: object
                      properties:
                        ican:
                          type: integer
                          format: int64
                          description: >-
                            identifier for the fire.com account (assigned by
                            fire.com)
                          example: 42
                        name:
                          type: string
                          description: >-
                            the name the user gives to the account to help them
                            identify it.
                          example: Main Account
                        colour:
                          type: string
                          description: Internal Use
                          deprecated: true
                          example: ORANGE
                        currency:
                          title: currency
                          description: The currency.
                          type: object
                          properties:
                            code:
                              type: string
                              description: >-
                                The three letter code for the currency - either
                                `EUR` or `GBP`.
                              enum:
                                - EUR
                                - GBP
                            description:
                              type: string
                              description: The name of the currency
                              example: Euro
                        balance:
                          type: integer
                          format: int64
                          description: >-
                            the balance of the account (in minor currency units
                            - pence, cent etc. 434050 == 4,340.50 GBP for a GBP
                            account).
                          example: 23950
                        status:
                          type: string
                          enum:
                            - LIVE
                            - BREXIT_MIGRATED
                          description: >-
                            Live accounts can be used as normal. Migrated
                            accounts were used before Brexit and are read-only.
                        cbic:
                          type: string
                          example: CPAYIE2D
                          description: >-
                            the BIC of the account (provided if currency is
                            EUR).
                        ciban:
                          type: string
                          example: IE54CPAY99119911111111
                          description: >-
                            the IBAN of the account (provided if currency is
                            EUR).
                        cnsc:
                          type: string
                          example: '232221'
                          description: the Sort Code of the account.
                        ccan:
                          type: string
                          example: '11111111'
                          description: the Account Number of the account.
                        defaultAccount:
                          type: boolean
                          example: true
                          description: >-
                            true if this is the default account for this
                            currency. This will be the account that general fees
                            are taken from (as opposed to per-transaction fees).
                        directDebitsAllowed:
                          type: boolean
                          example: false
                          description: >-
                            Whether or not direct debits can be set up on this
                            account.
                        fopOnly:
                          type: boolean
                          example: false
                          description: >-
                            Indicates that this account is for collecting Fire
                            Open Payments only. All other payments to this
                            account will be returned.
        '401':
          description: Access Token is Invalid or missing
    post:
      summary: Add a new account
      description: >
        Creates a new fire.com account.


        **Please note there is a charge associated with creating a new
        account.**
      tags:
        - Accounts
      operationId: addAccount
      requestBody:
        required: true
        description: Details of the new account
        content:
          application/json:
            schema:
              title: newAccount
              type: object
              properties:
                accountName:
                  type: string
                  example: Operating Account
                  description: Name to give the new account
                  maxLength: 50
                currency:
                  type: string
                  enum:
                    - EUR
                    - GBP
                  description: The currency of the new account
                acceptFeesAndCharges:
                  type: boolean
                  description: a field to indicate you accept the fee for a new account
      responses:
        '201':
          description: The details of the new account
          content:
            application/json:
              schema:
                title: Account
                type: object
                properties:
                  ican:
                    type: integer
                    format: int64
                    description: identifier for the fire.com account (assigned by fire.com)
                    example: 42
                  name:
                    type: string
                    description: >-
                      the name the user gives to the account to help them
                      identify it.
                    example: Main Account
                  colour:
                    type: string
                    description: Internal Use
                    deprecated: true
                    example: ORANGE
                  currency:
                    title: currency
                    description: The currency.
                    type: object
                    properties:
                      code:
                        type: string
                        description: >-
                          The three letter code for the currency - either `EUR`
                          or `GBP`.
                        enum:
                          - EUR
                          - GBP
                      description:
                        type: string
                        description: The name of the currency
                        example: Euro
                  balance:
                    type: integer
                    format: int64
                    description: >-
                      the balance of the account (in minor currency units -
                      pence, cent etc. 434050 == 4,340.50 GBP for a GBP
                      account).
                    example: 23950
                  status:
                    type: string
                    enum:
                      - LIVE
                      - BREXIT_MIGRATED
                    description: >-
                      Live accounts can be used as normal. Migrated accounts
                      were used before Brexit and are read-only.
                  cbic:
                    type: string
                    example: CPAYIE2D
                    description: the BIC of the account (provided if currency is EUR).
                  ciban:
                    type: string
                    example: IE54CPAY99119911111111
                    description: the IBAN of the account (provided if currency is EUR).
                  cnsc:
                    type: string
                    example: '232221'
                    description: the Sort Code of the account.
                  ccan:
                    type: string
                    example: '11111111'
                    description: the Account Number of the account.
                  defaultAccount:
                    type: boolean
                    example: true
                    description: >-
                      true if this is the default account for this currency.
                      This will be the account that general fees are taken from
                      (as opposed to per-transaction fees).
                  directDebitsAllowed:
                    type: boolean
                    example: false
                    description: >-
                      Whether or not direct debits can be set up on this
                      account.
                  fopOnly:
                    type: boolean
                    example: false
                    description: >-
                      Indicates that this account is for collecting Fire Open
                      Payments only. All other payments to this account will be
                      returned.
  '/v1/accounts/{ican}':
    get:
      summary: Retrieve the details of a fire.com Account
      description: You can retrieve the details of a fire.com Account by its `ican`.
      tags:
        - Accounts
      operationId: getAccountById
      parameters:
        - in: path
          name: ican
          schema:
            type: integer
            format: int64
            description: The ican of the account to retrieve
          required: true
      responses:
        '200':
          description: An array of account objects.
          content:
            application/json:
              schema:
                title: Account
                type: object
                properties:
                  ican:
                    type: integer
                    format: int64
                    description: identifier for the fire.com account (assigned by fire.com)
                    example: 42
                  name:
                    type: string
                    description: >-
                      the name the user gives to the account to help them
                      identify it.
                    example: Main Account
                  colour:
                    type: string
                    description: Internal Use
                    deprecated: true
                    example: ORANGE
                  currency:
                    title: currency
                    description: The currency.
                    type: object
                    properties:
                      code:
                        type: string
                        description: >-
                          The three letter code for the currency - either `EUR`
                          or `GBP`.
                        enum:
                          - EUR
                          - GBP
                      description:
                        type: string
                        description: The name of the currency
                        example: Euro
                  balance:
                    type: integer
                    format: int64
                    description: >-
                      the balance of the account (in minor currency units -
                      pence, cent etc. 434050 == 4,340.50 GBP for a GBP
                      account).
                    example: 23950
                  status:
                    type: string
                    enum:
                      - LIVE
                      - BREXIT_MIGRATED
                    description: >-
                      Live accounts can be used as normal. Migrated accounts
                      were used before Brexit and are read-only.
                  cbic:
                    type: string
                    example: CPAYIE2D
                    description: the BIC of the account (provided if currency is EUR).
                  ciban:
                    type: string
                    example: IE54CPAY99119911111111
                    description: the IBAN of the account (provided if currency is EUR).
                  cnsc:
                    type: string
                    example: '232221'
                    description: the Sort Code of the account.
                  ccan:
                    type: string
                    example: '11111111'
                    description: the Account Number of the account.
                  defaultAccount:
                    type: boolean
                    example: true
                    description: >-
                      true if this is the default account for this currency.
                      This will be the account that general fees are taken from
                      (as opposed to per-transaction fees).
                  directDebitsAllowed:
                    type: boolean
                    example: false
                    description: >-
                      Whether or not direct debits can be set up on this
                      account.
                  fopOnly:
                    type: boolean
                    example: false
                    description: >-
                      Indicates that this account is for collecting Fire Open
                      Payments only. All other payments to this account will be
                      returned.
        '401':
          description: Access Token is Invalid or missing
  '/v1/accounts/{ican}/transactions':
    get:
      summary: List transactions for an account (v1)
      deprecated: true
      description: >-
        Retrieve a list of transactions against an account. Recommended to use
        the v3 endpoint instead.
      tags:
        - Transactions
      operationId: getTransactionsByIdv1
      parameters:
        - in: path
          name: ican
          schema:
            type: integer
            format: int64
            description: The ican of the account to retrieve
          required: true
        - in: query
          name: limit
          schema:
            type: integer
            format: int64
            description: The number of records to return. Defaults to 10 - max is 200.
          required: true
        - in: query
          name: offset
          schema:
            type: integer
            format: int64
            description: >-
              The page offset. Defaults to 0. This is the record number that the
              returned list will start at. E.g. offset = 40 and limit = 20 will
              return records 40 to 59.
          required: true
      responses:
        '200':
          description: >-
            An array of transaction objects for the account with a count
            (`total`).
          content:
            application/json:
              schema:
                title: cardTransactionsv1
                type: object
                properties:
                  total:
                    type: integer
                    example: 1
                    description: The total number of card transactions in the list.
                  dateRangeTo:
                    type: integer
                    example: 1547744156603
                    description: milisecond timestamp of date range to value.
                  transactions:
                    type: array
                    items:
                      title: transaction
                      type: object
                      properties:
                        txnId:
                          type: integer
                          format: int64
                          description: >-
                            The id of this side of the transaction (each
                            transaction has two sides - a to and a from). This
                            is used to get the details of the transaction.
                          example: 30157
                        refId:
                          type: integer
                          format: int64
                          description: The id of the transaction.
                          example: 26774
                        ican:
                          type: integer
                          format: int64
                          description: >-
                            identifier for the fire.com account (assigned by
                            fire.com) This field is only used in the condensed
                            version.
                          example: 1951
                        currency:
                          title: currency
                          description: The currency.
                          type: object
                          properties:
                            code:
                              type: string
                              description: >-
                                The three letter code for the currency - either
                                `EUR` or `GBP`.
                              enum:
                                - EUR
                                - GBP
                            description:
                              type: string
                              description: The name of the currency
                              example: Euro
                        amountBeforeCharges:
                          type: integer
                          format: int64
                          description: >-
                            Amount of the transaction before the fees and taxes
                            were applied.
                          example: 5000
                        feeAmount:
                          type: integer
                          format: int64
                          description: 'The amount of the fee, if any.'
                          example: 0
                        taxAmount:
                          type: integer
                          format: int64
                          description: >-
                            The amount of the tax, if any (e.g. Stamp duty for
                            ATM transactions)
                          example: 0
                        amountAfterCharges:
                          type: integer
                          format: int64
                          description: >-
                            Net amount lodged or taken from the account after
                            fees and charges were applied.
                          example: 5000
                        balance:
                          type: integer
                          format: int64
                          description: >-
                            the balance of the account (in minor currency units
                            - pence, cent etc. 434050 == 4,340.50 GBP for a GBP
                            account).
                          example: 8500
                        myRef:
                          type: string
                          description: The comment/reference on the transaction
                          example: Transfer to main account
                        yourRef:
                          type: string
                          description: >-
                            The comment/reference on the transaction that
                            appears on the recipients statement. Only for
                            withdrawals
                          example: From John Smith
                        date:
                          type: string
                          format: date-time
                          description: Date of the transaction
                          example: 2021-04-13T11:06:32.437Z
                        paymentRequestPublicCode:
                          type: string
                          description: >-
                            (FOP payments only) The FOP Payment Code that was
                            used to make this payment.
                          example: 1abcdefg
                        card:
                          title: relatedCard
                          description: Details of the card used (if applicable)
                          type: object
                          properties:
                            cardId:
                              type: integer
                              format: int64
                            provider:
                              type: string
                            alias:
                              type: string
                            maskedPan:
                              type: string
                            embossCardName:
                              type: string
                            embossBusinessName:
                              type: string
                            expiryDate:
                              type: string
                              format: date-time
                        type:
                          type: string
                          description: "The type of the transaction:\n* `LODGEMENT` - Bank Transfer received\n* `PIS_LODGEMENT` - Fire Open Payments Lodgement received\n* `MANUAL_TRANSFER` - Manual Transfer to\n* `WITHDRAWAL` - Bank Transfer sent\n* `REVERSAL` - Credit Reversal\n* `DIRECT_DEBIT` - A direct debit.\n* `DIRECT_DEBIT_REPRESENTED` - A Direct Debit that was requested again after initially failing.\n* `DIRECT_DEBIT_REFUND` - A refund of a Direct debit.\n* `INTERNAL_TRANSFER_TO` - Internal Transfer sent (between two of my accounts of the same currency)\n* `INTERNAL_TRANSFER_FROM` - Internal Transfer received (between two of my accounts of the same currency)\n* `WITHDRAWAL_RETURNED` - Bank Transfer sent returned\n* `LODGEMENT_REVERSED` - Bank Transfer received returned\n* `FX_INTERNAL_TRANSFER_FROM` - FX Internal Transfer received (between two of my accounts of different currency)\n* `FX_INTERNAL_TRANSFER_TO` - FX Internal Transfer sent (between two of my accounts of different currency)\n* `CREATE_CARD` - The fee taken when a debit card is issued.\n* `ADD_ACCOUNT` - The fee taken when an account is created.\n* `CREATE_ADDITIONAL_USER` - The fee taken when an additional user is created.       \n* `CARD_POS_CONTACT_DEBIT` - Card used in store; read by magnetic stripe or pin\n* `CARD_POS_CONTACT_CREDIT` - Card used in store; read by magnetic stripe or pin\n* `CARD_POS_CONTACTLESS_DEBIT` - Card used in store; read by NFC\n* `CARD_POS_CONTACTLESS_CREDIT` - Card used in store; read by NFC\n* `CARD_ECOMMERCE_DEBIT` - Card used on the internet\n* `CARD_ECOMMERCE_CREDIT` - Card used on the internet\n* `CARD_ATM_DEBIT` - Card used in an ATM\n* `CARD_ATM_CREDIT` - Card used in an ATM\n* `CARD_INTERNATIONAL_POS_CONTACT_DEBIT` - Card used in store in non-processing currency; read by magnetic stripe or pin\n* `CARD_INTERNATIONAL_POS_CONTACT_CREDIT` - Card used in store in non-processing currency; read by magnetic stripe or pin\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT` - Card used in store in non-processing currency; read by NFC\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT` - Card used in store in non-processing currency; read by NFC\n* `CARD_INTERNATIONAL_ECOMMERCE_DEBIT\t` - Card used on the internet in non-processing currency\n* `CARD_INTERNATIONAL_ECOMMERCE_CREDIT` - Card used on the internet in non-processing currency\n* `CARD_INTERNATIONAL_ATM_DEBIT` - Card used in an ATM in non-processing currency\n* `CARD_INTERNATIONAL_ATM_CREDIT` - Card used in an ATM in non-processing currency\n* `CARD_POS_CONTACT_DEBIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed\n* `CARD_POS_CONTACT_CREDIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed\n* `CARD_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store; read by NFC - reversed\n* `CARD_POS_CONTACTLESS_CREDIT_REVERSAL` - Card used in store; read by NFC - reversed\n* `CARD_ECOMMERCE_DEBIT_REVERSAL\t` - Card used on the internet - reversed\n* `CARD_ECOMMERCE_CREDIT_REVERSAL` - Card used on the internet - reversed\n* `CARD_ATM_DEBIT_REVERSAL` - Card used in an ATM - reversed\n* `CARD_ATM_CREDIT_REVERSAL` - Card used in an ATM - reversed\n* `CARD_INTERNATIONAL_POS_CONTACT_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed\n* `CARD_INTERNATIONAL_POS_CONTACT_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT_REVERSAL` - One or more of the transaction types above. This field can be repeated multiple times to allow for multiple transaction types.\n* `CARD_INTERNATIONAL_ECOMMERCE_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_ECOMMERCE_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_ATM_DEBIT_REVERSAL` - Card used on the internet in non-processing currency - reversed\n* `CARD_INTERNATIONAL_ATM_CREDIT_REVERSAL` - Card used on the internet in non-processing currency - reversed\n"
                          example: WITHDRAWAL
                        dateAcknowledged:
                          type: string
                          format: date-time
                          example: 2021-04-13T11:06:32.437Z
                        fxTradeDetails:
                          title: fxTrade
                          description: Details of the FX trade (if applicable)
                          type: object
                          properties:
                            buyCurrency:
                              type: string
                              description: currency which is being bought
                              example: GBP
                            sellCurrency:
                              type: string
                              example: EUR
                              description: currency which is being sold
                            fixedSide:
                              type: string
                              description: type of trade - BUY or SELL
                              example: SELL
                            buyAmount:
                              type: integer
                              format: int64
                              description: amount of buyCurrency being bought
                              example: 359
                            sellAmount:
                              type: integer
                              format: int64
                              description: amount of sellCurrency being sold
                              example: 500
                            rate4d:
                              type: integer
                              format: int64
                              description: exchange rate
                              example: 7180
                            provider:
                              type: string
                              example: TCC
                              description: The FX provider used to make the trade.
                        batchItemDetails:
                          title: batchItemDetails
                          description: >-
                            Details of the batch run if this transaction was
                            part of a batch.
                          type: object
                          properties:
                            batchPublicUuid:
                              type: string
                              example: F2AF3F2B-4406-4199-B249-B354F2CC6019
                              description: The UUID for this batch.
                            batchItemPublicUuid:
                              type: string
                              example: F2AF3F2B-4406-4199-B249-B354F2CC6019
                              description: The UUID for this item in the batch.
                            batchName:
                              type: string
                              example: Payroll 2022-11
                              description: >-
                                The optional name given to the batch at creation
                                time.
                            jobNumber:
                              type: string
                              example: 2018-01-PR
                              description: >-
                                The optional job number given to the batch to
                                link it to your own system.
                        directDebitDetails:
                          title: directDebitDetails
                          description: Details of the direct debit (if applicable)
                          type: object
                          properties:
                            directDebitUuid:
                              type: string
                              description: The UUID for the direct debit payment
                              example: 42de0705-e3f1-44fa-8c41-79973eb80eb2
                            mandateUUid:
                              type: string
                              description: The UUID for the mandate
                              example: f171b143-e3eb-47de-85a6-1c1f1108c701
                            originatorReference:
                              type: string
                              description: Set by party who sets up the direct debit.
                              example: VODA-123456
                            originatorName:
                              type: string
                              description: >-
                                The creator of the party who sets up the direct
                                debit.
                              example: Vodafone PLC
                            originatorAlias:
                              type: string
                              description: >-
                                The Alias of the party who sets up the direct
                                debit.
                              example: Three
                            directDebitReference:
                              type: string
                              description: The direct debit reference.
                              example: VODA-ABC453-1
                            originatorLogoUrlSmall:
                              type: string
                              description: >-
                                URL pointing to a small version of the
                                Originator Logo (if available)
                              example: >-
                                https://s3-eu-west-1.amazonaws.com/live-fire-assets/prod/49dc9a01-8261-4d98-bebf-c3842c2d3c5d-small.png
                            originatorLogoUrlLarge:
                              type: string
                              description: >-
                                URL pointing to a large version of the
                                Originator Logo (if available)
                              example: >-
                                https://s3-eu-west-1.amazonaws.com/live-fire-assets/prod/49dc9a01-8261-4d98-bebf-c3842c2d3c5d-small.png
                            mandateReference:
                              type: string
                              example: CRZ-102190123
                              description: the reference of the mandate
                            mandateUuid:
                              type: string
                              description: The UUID for the mandate
                              example: 28d627c3-1889-44c8-ae59-6f6b20239260
                        proprietarySchemeDetails:
                          title: proprietarySchemeDetails
                          description: >-
                            Extra details about the transaction based on the
                            scheme used to make the payment.
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: >-
                                  the type of proprietary scheme - SCT for SEPA,
                                  FPS for Faster Payments etc.
                                example: SCT
                              data:
                                type: string
                                example: >-
                                  remittanceInfoUnstructured^FIRE440286865OD1|instructionId^O223151336499079
                                description: >-
                                  the scheme proprietary data - key pairs
                                  separated by | and key/values separated by ^
                        relatedParty:
                          title: relatedParty
                          description: >-
                            Details of the related third party involved in the
                            transaction.
                          oneOf:
                            - title: relatedPartyFireAccount
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - FIRE_ACCOUNT
                                account:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      format: int64
                                      description: >-
                                        identifier for the fire.com account
                                        (assigned by fire.com)
                                      example: 42
                                    alias:
                                      type: string
                                      description: >-
                                        the name the user gives to the account
                                        to help them identify it.
                                      example: Main Account
                                    bic:
                                      type: string
                                      example: CPAYIE2D
                                      description: >-
                                        the BIC of the account (provided if
                                        currency is EUR).
                                    iban:
                                      type: string
                                      example: IE54CPAY99119911111111
                                      description: >-
                                        the IBAN of the account (provided if
                                        currency is EUR).
                                    nsc:
                                      type: string
                                      example: '232221'
                                      description: the Sort Code of the account.
                                    accountNumber:
                                      type: string
                                      example: '11111111'
                                      description: the Account Number of the account.
                            - title: relatedPartyExternalAccount
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - EXTERNAL_ACCOUNT
                                account:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      format: int64
                                    alias:
                                      type: string
                                      description: >-
                                        the name the user gives to the account
                                        to help them identify it.
                                      example: Main Account
                                    nsc:
                                      type: string
                                      example: '232221'
                                      description: the Sort Code of the account.
                                    accountNumber:
                                      type: string
                                      example: '11111111'
                                      description: the Account Number of the account.
                                    bic:
                                      type: string
                                      example: CPAYIE2D
                                      description: >-
                                        the BIC of the account (provided if
                                        currency is EUR).
                                    iban:
                                      type: string
                                      example: IE54CPAY99119911111111
                                      description: >-
                                        the IBAN of the account (provided if
                                        currency is EUR).
                            - title: relatedPartyPayee
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - WITHDRAWAL_ACCOUNT
                                account:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      format: int64
                                      example: 123
                                      description: >-
                                        The ID number of the Withdrawl account
                                        in reference
                                    alias:
                                      type: string
                                      example: Smyth and Co.
                                      description: >-
                                        The Alias name of the Withdrawl account
                                        in reference
                                    nsc:
                                      type: string
                                      example: '991199'
                                      description: >-
                                        (Conditional) Provide this field if
                                        using Mode 2 and the payee account is in
                                        GBP.
                                    accountNumber:
                                      type: string
                                      example: '00000000'
                                      description: >-
                                        The account number of the Withdrawl
                                        account in reference
                                    bic:
                                      type: string
                                      example: CPAYIE2D
                                      description: >-
                                        The BIC of the Withdrawl account in
                                        reference
                                    iban:
                                      type: string
                                      example: IE76CPAY99119900000000
                                      description: >-
                                        The BIC of the Withdrawl account in
                                        reference
                            - title: relatedPartyCardPayment
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - CARD_MERCHANT
                                    - CARD_ATM
                                cardMerchant:
                                  type: object
                                  properties:
                                    acquirerIdDe32:
                                      type: string
                                      example: 06011329
                                    additionalAmtDe54:
                                      type: string
                                    authCodeDe38:
                                      type: string
                                      example: '177449'
                                    billAmt:
                                      type: integer
                                      format: int64
                                      example: -1000
                                    billCcy:
                                      type: string
                                      example: '978'
                                    expiryDate:
                                      type: string
                                    mccCode:
                                      type: string
                                      example: '5521'
                                    merchIdDe42:
                                      type: string
                                      example: 013152429
                                    merchNameDe43:
                                      type: string
                                      example: ABC Coffee Shop
                                    posDataDe61:
                                      type: string
                                      example: 000001000030037299999
                                    posTermnlDe41:
                                      type: string
                                      example: '80266721'
                                    posDataDe22:
                                      type: string
                                      example: '051'
                                    procCode:
                                      type: string
                                      example: '000000'
                                    respCodeDe39:
                                      type: string
                                      example: '00'
                                    retRefNoDe37:
                                      type: string
                                      example: 010900006720
                                    statusCode:
                                      type: string
                                      example: '00'
                                    token:
                                      type: string
                                      example: '976307363'
                                    txnAmt4d:
                                      type: integer
                                      format: int64
                                      example: 1000
                                    txnCcy:
                                      type: string
                                      example: '978'
                                    txnCtry:
                                      type: string
                                      example: IRL
                                    txnDesc:
                                      type: string
                                      example: ABC Coffee Shop
                                    txnStatCode:
                                      type: string
                                      example: A
                                    txnType:
                                      type: string
                                      example: A
                                    additionalDataDe48:
                                      type: string
                                      example: 010X610500000
                                    authorisedByGps:
                                      type: string
                                      example: 'N'
                                    avsResult:
                                      type: string
                                      example: 'N'
                                    mtId:
                                      type: string
                                      example: '0100'
                                    recordDataDe120:
                                      type: string
                                    additionalDataDe124:
                                      type: string
                        eventUuid:
                          type: string
                          description: >-
                            An internal Fire reference for the transaction
                            (UUID)
                          example: 42de0705-e3f1-44fa-8c41-79973eb80eb2
  '/v3/accounts/{ican}/transactions':
    get:
      summary: List transactions for an account (v3)
      description: >
        Retrieve a list of transactions against an account. Initially, use the
        optional `limit`, `dateRangeFrom` and `dateRangeTo` query params to
        limit your query, then use the embedded `next` or `prev` links in the
        response to get newer or older pages.
      tags:
        - Transactions
      operationId: getTransactionsByIdv3
      parameters:
        - in: path
          name: ican
          schema:
            type: integer
            format: int64
            description: The ican of the account to retrieve
          required: true
        - in: query
          name: limit
          schema:
            type: integer
            format: int64
            description: The number of records to return. Defaults to 10 - max is 200.
          required: false
        - in: query
          name: dateRangeFrom
          schema:
            type: integer
            format: int64
            description: A millisecond epoch time specifying the date range start date.
          required: false
        - in: query
          name: dateRangeTo
          schema:
            type: integer
            format: int64
            description: A millisecond epoch time specifying the date range end date.
          required: false
        - in: query
          name: startAfter
          schema:
            type: string
            description: >-
              A pointer to the position in the resultset to start from. Used
              when paging through results using the linked pages.
          required: false
      responses:
        '200':
          description: >-
            An array of transaction objects for the account with a count
            (`total`).
          content:
            application/json:
              schema:
                title: cardTransactionsv3
                type: object
                properties:
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        rel:
                          type: string
                          example: self
                          description: >-
                            The relationship of this link to the current object
                            - self, next, prev page.
                        href:
                          type: string
                          example: The URL of the linked page
                          description: >-
                            https://api.fire.com/business/v3/accounts/1/transactions?startAfter=eyJpY2F
                  content:
                    type: array
                    items:
                      title: transaction
                      type: object
                      properties:
                        txnId:
                          type: integer
                          format: int64
                          description: >-
                            The id of this side of the transaction (each
                            transaction has two sides - a to and a from). This
                            is used to get the details of the transaction.
                          example: 30157
                        refId:
                          type: integer
                          format: int64
                          description: The id of the transaction.
                          example: 26774
                        ican:
                          type: integer
                          format: int64
                          description: >-
                            identifier for the fire.com account (assigned by
                            fire.com) This field is only used in the condensed
                            version.
                          example: 1951
                        currency:
                          title: currency
                          description: The currency.
                          type: object
                          properties:
                            code:
                              type: string
                              description: >-
                                The three letter code for the currency - either
                                `EUR` or `GBP`.
                              enum:
                                - EUR
                                - GBP
                            description:
                              type: string
                              description: The name of the currency
                              example: Euro
                        amountBeforeCharges:
                          type: integer
                          format: int64
                          description: >-
                            Amount of the transaction before the fees and taxes
                            were applied.
                          example: 5000
                        feeAmount:
                          type: integer
                          format: int64
                          description: 'The amount of the fee, if any.'
                          example: 0
                        taxAmount:
                          type: integer
                          format: int64
                          description: >-
                            The amount of the tax, if any (e.g. Stamp duty for
                            ATM transactions)
                          example: 0
                        amountAfterCharges:
                          type: integer
                          format: int64
                          description: >-
                            Net amount lodged or taken from the account after
                            fees and charges were applied.
                          example: 5000
                        balance:
                          type: integer
                          format: int64
                          description: >-
                            the balance of the account (in minor currency units
                            - pence, cent etc. 434050 == 4,340.50 GBP for a GBP
                            account).
                          example: 8500
                        myRef:
                          type: string
                          description: The comment/reference on the transaction
                          example: Transfer to main account
                        yourRef:
                          type: string
                          description: >-
                            The comment/reference on the transaction that
                            appears on the recipients statement. Only for
                            withdrawals
                          example: From John Smith
                        date:
                          type: string
                          format: date-time
                          description: Date of the transaction
                          example: 2021-04-13T11:06:32.437Z
                        paymentRequestPublicCode:
                          type: string
                          description: >-
                            (FOP payments only) The FOP Payment Code that was
                            used to make this payment.
                          example: 1abcdefg
                        card:
                          title: relatedCard
                          description: Details of the card used (if applicable)
                          type: object
                          properties:
                            cardId:
                              type: integer
                              format: int64
                            provider:
                              type: string
                            alias:
                              type: string
                            maskedPan:
                              type: string
                            embossCardName:
                              type: string
                            embossBusinessName:
                              type: string
                            expiryDate:
                              type: string
                              format: date-time
                        type:
                          type: string
                          description: "The type of the transaction:\n* `LODGEMENT` - Bank Transfer received\n* `PIS_LODGEMENT` - Fire Open Payments Lodgement received\n* `MANUAL_TRANSFER` - Manual Transfer to\n* `WITHDRAWAL` - Bank Transfer sent\n* `REVERSAL` - Credit Reversal\n* `DIRECT_DEBIT` - A direct debit.\n* `DIRECT_DEBIT_REPRESENTED` - A Direct Debit that was requested again after initially failing.\n* `DIRECT_DEBIT_REFUND` - A refund of a Direct debit.\n* `INTERNAL_TRANSFER_TO` - Internal Transfer sent (between two of my accounts of the same currency)\n* `INTERNAL_TRANSFER_FROM` - Internal Transfer received (between two of my accounts of the same currency)\n* `WITHDRAWAL_RETURNED` - Bank Transfer sent returned\n* `LODGEMENT_REVERSED` - Bank Transfer received returned\n* `FX_INTERNAL_TRANSFER_FROM` - FX Internal Transfer received (between two of my accounts of different currency)\n* `FX_INTERNAL_TRANSFER_TO` - FX Internal Transfer sent (between two of my accounts of different currency)\n* `CREATE_CARD` - The fee taken when a debit card is issued.\n* `ADD_ACCOUNT` - The fee taken when an account is created.\n* `CREATE_ADDITIONAL_USER` - The fee taken when an additional user is created.       \n* `CARD_POS_CONTACT_DEBIT` - Card used in store; read by magnetic stripe or pin\n* `CARD_POS_CONTACT_CREDIT` - Card used in store; read by magnetic stripe or pin\n* `CARD_POS_CONTACTLESS_DEBIT` - Card used in store; read by NFC\n* `CARD_POS_CONTACTLESS_CREDIT` - Card used in store; read by NFC\n* `CARD_ECOMMERCE_DEBIT` - Card used on the internet\n* `CARD_ECOMMERCE_CREDIT` - Card used on the internet\n* `CARD_ATM_DEBIT` - Card used in an ATM\n* `CARD_ATM_CREDIT` - Card used in an ATM\n* `CARD_INTERNATIONAL_POS_CONTACT_DEBIT` - Card used in store in non-processing currency; read by magnetic stripe or pin\n* `CARD_INTERNATIONAL_POS_CONTACT_CREDIT` - Card used in store in non-processing currency; read by magnetic stripe or pin\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT` - Card used in store in non-processing currency; read by NFC\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT` - Card used in store in non-processing currency; read by NFC\n* `CARD_INTERNATIONAL_ECOMMERCE_DEBIT\t` - Card used on the internet in non-processing currency\n* `CARD_INTERNATIONAL_ECOMMERCE_CREDIT` - Card used on the internet in non-processing currency\n* `CARD_INTERNATIONAL_ATM_DEBIT` - Card used in an ATM in non-processing currency\n* `CARD_INTERNATIONAL_ATM_CREDIT` - Card used in an ATM in non-processing currency\n* `CARD_POS_CONTACT_DEBIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed\n* `CARD_POS_CONTACT_CREDIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed\n* `CARD_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store; read by NFC - reversed\n* `CARD_POS_CONTACTLESS_CREDIT_REVERSAL` - Card used in store; read by NFC - reversed\n* `CARD_ECOMMERCE_DEBIT_REVERSAL\t` - Card used on the internet - reversed\n* `CARD_ECOMMERCE_CREDIT_REVERSAL` - Card used on the internet - reversed\n* `CARD_ATM_DEBIT_REVERSAL` - Card used in an ATM - reversed\n* `CARD_ATM_CREDIT_REVERSAL` - Card used in an ATM - reversed\n* `CARD_INTERNATIONAL_POS_CONTACT_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed\n* `CARD_INTERNATIONAL_POS_CONTACT_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT_REVERSAL` - One or more of the transaction types above. This field can be repeated multiple times to allow for multiple transaction types.\n* `CARD_INTERNATIONAL_ECOMMERCE_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_ECOMMERCE_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_ATM_DEBIT_REVERSAL` - Card used on the internet in non-processing currency - reversed\n* `CARD_INTERNATIONAL_ATM_CREDIT_REVERSAL` - Card used on the internet in non-processing currency - reversed\n"
                          example: WITHDRAWAL
                        dateAcknowledged:
                          type: string
                          format: date-time
                          example: 2021-04-13T11:06:32.437Z
                        fxTradeDetails:
                          title: fxTrade
                          description: Details of the FX trade (if applicable)
                          type: object
                          properties:
                            buyCurrency:
                              type: string
                              description: currency which is being bought
                              example: GBP
                            sellCurrency:
                              type: string
                              example: EUR
                              description: currency which is being sold
                            fixedSide:
                              type: string
                              description: type of trade - BUY or SELL
                              example: SELL
                            buyAmount:
                              type: integer
                              format: int64
                              description: amount of buyCurrency being bought
                              example: 359
                            sellAmount:
                              type: integer
                              format: int64
                              description: amount of sellCurrency being sold
                              example: 500
                            rate4d:
                              type: integer
                              format: int64
                              description: exchange rate
                              example: 7180
                            provider:
                              type: string
                              example: TCC
                              description: The FX provider used to make the trade.
                        batchItemDetails:
                          title: batchItemDetails
                          description: >-
                            Details of the batch run if this transaction was
                            part of a batch.
                          type: object
                          properties:
                            batchPublicUuid:
                              type: string
                              example: F2AF3F2B-4406-4199-B249-B354F2CC6019
                              description: The UUID for this batch.
                            batchItemPublicUuid:
                              type: string
                              example: F2AF3F2B-4406-4199-B249-B354F2CC6019
                              description: The UUID for this item in the batch.
                            batchName:
                              type: string
                              example: Payroll 2022-11
                              description: >-
                                The optional name given to the batch at creation
                                time.
                            jobNumber:
                              type: string
                              example: 2018-01-PR
                              description: >-
                                The optional job number given to the batch to
                                link it to your own system.
                        directDebitDetails:
                          title: directDebitDetails
                          description: Details of the direct debit (if applicable)
                          type: object
                          properties:
                            directDebitUuid:
                              type: string
                              description: The UUID for the direct debit payment
                              example: 42de0705-e3f1-44fa-8c41-79973eb80eb2
                            mandateUUid:
                              type: string
                              description: The UUID for the mandate
                              example: f171b143-e3eb-47de-85a6-1c1f1108c701
                            originatorReference:
                              type: string
                              description: Set by party who sets up the direct debit.
                              example: VODA-123456
                            originatorName:
                              type: string
                              description: >-
                                The creator of the party who sets up the direct
                                debit.
                              example: Vodafone PLC
                            originatorAlias:
                              type: string
                              description: >-
                                The Alias of the party who sets up the direct
                                debit.
                              example: Three
                            directDebitReference:
                              type: string
                              description: The direct debit reference.
                              example: VODA-ABC453-1
                            originatorLogoUrlSmall:
                              type: string
                              description: >-
                                URL pointing to a small version of the
                                Originator Logo (if available)
                              example: >-
                                https://s3-eu-west-1.amazonaws.com/live-fire-assets/prod/49dc9a01-8261-4d98-bebf-c3842c2d3c5d-small.png
                            originatorLogoUrlLarge:
                              type: string
                              description: >-
                                URL pointing to a large version of the
                                Originator Logo (if available)
                              example: >-
                                https://s3-eu-west-1.amazonaws.com/live-fire-assets/prod/49dc9a01-8261-4d98-bebf-c3842c2d3c5d-small.png
                            mandateReference:
                              type: string
                              example: CRZ-102190123
                              description: the reference of the mandate
                            mandateUuid:
                              type: string
                              description: The UUID for the mandate
                              example: 28d627c3-1889-44c8-ae59-6f6b20239260
                        proprietarySchemeDetails:
                          title: proprietarySchemeDetails
                          description: >-
                            Extra details about the transaction based on the
                            scheme used to make the payment.
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: >-
                                  the type of proprietary scheme - SCT for SEPA,
                                  FPS for Faster Payments etc.
                                example: SCT
                              data:
                                type: string
                                example: >-
                                  remittanceInfoUnstructured^FIRE440286865OD1|instructionId^O223151336499079
                                description: >-
                                  the scheme proprietary data - key pairs
                                  separated by | and key/values separated by ^
                        relatedParty:
                          title: relatedParty
                          description: >-
                            Details of the related third party involved in the
                            transaction.
                          oneOf:
                            - title: relatedPartyFireAccount
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - FIRE_ACCOUNT
                                account:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      format: int64
                                      description: >-
                                        identifier for the fire.com account
                                        (assigned by fire.com)
                                      example: 42
                                    alias:
                                      type: string
                                      description: >-
                                        the name the user gives to the account
                                        to help them identify it.
                                      example: Main Account
                                    bic:
                                      type: string
                                      example: CPAYIE2D
                                      description: >-
                                        the BIC of the account (provided if
                                        currency is EUR).
                                    iban:
                                      type: string
                                      example: IE54CPAY99119911111111
                                      description: >-
                                        the IBAN of the account (provided if
                                        currency is EUR).
                                    nsc:
                                      type: string
                                      example: '232221'
                                      description: the Sort Code of the account.
                                    accountNumber:
                                      type: string
                                      example: '11111111'
                                      description: the Account Number of the account.
                            - title: relatedPartyExternalAccount
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - EXTERNAL_ACCOUNT
                                account:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      format: int64
                                    alias:
                                      type: string
                                      description: >-
                                        the name the user gives to the account
                                        to help them identify it.
                                      example: Main Account
                                    nsc:
                                      type: string
                                      example: '232221'
                                      description: the Sort Code of the account.
                                    accountNumber:
                                      type: string
                                      example: '11111111'
                                      description: the Account Number of the account.
                                    bic:
                                      type: string
                                      example: CPAYIE2D
                                      description: >-
                                        the BIC of the account (provided if
                                        currency is EUR).
                                    iban:
                                      type: string
                                      example: IE54CPAY99119911111111
                                      description: >-
                                        the IBAN of the account (provided if
                                        currency is EUR).
                            - title: relatedPartyPayee
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - WITHDRAWAL_ACCOUNT
                                account:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      format: int64
                                      example: 123
                                      description: >-
                                        The ID number of the Withdrawl account
                                        in reference
                                    alias:
                                      type: string
                                      example: Smyth and Co.
                                      description: >-
                                        The Alias name of the Withdrawl account
                                        in reference
                                    nsc:
                                      type: string
                                      example: '991199'
                                      description: >-
                                        (Conditional) Provide this field if
                                        using Mode 2 and the payee account is in
                                        GBP.
                                    accountNumber:
                                      type: string
                                      example: '00000000'
                                      description: >-
                                        The account number of the Withdrawl
                                        account in reference
                                    bic:
                                      type: string
                                      example: CPAYIE2D
                                      description: >-
                                        The BIC of the Withdrawl account in
                                        reference
                                    iban:
                                      type: string
                                      example: IE76CPAY99119900000000
                                      description: >-
                                        The BIC of the Withdrawl account in
                                        reference
                            - title: relatedPartyCardPayment
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - CARD_MERCHANT
                                    - CARD_ATM
                                cardMerchant:
                                  type: object
                                  properties:
                                    acquirerIdDe32:
                                      type: string
                                      example: 06011329
                                    additionalAmtDe54:
                                      type: string
                                    authCodeDe38:
                                      type: string
                                      example: '177449'
                                    billAmt:
                                      type: integer
                                      format: int64
                                      example: -1000
                                    billCcy:
                                      type: string
                                      example: '978'
                                    expiryDate:
                                      type: string
                                    mccCode:
                                      type: string
                                      example: '5521'
                                    merchIdDe42:
                                      type: string
                                      example: 013152429
                                    merchNameDe43:
                                      type: string
                                      example: ABC Coffee Shop
                                    posDataDe61:
                                      type: string
                                      example: 000001000030037299999
                                    posTermnlDe41:
                                      type: string
                                      example: '80266721'
                                    posDataDe22:
                                      type: string
                                      example: '051'
                                    procCode:
                                      type: string
                                      example: '000000'
                                    respCodeDe39:
                                      type: string
                                      example: '00'
                                    retRefNoDe37:
                                      type: string
                                      example: 010900006720
                                    statusCode:
                                      type: string
                                      example: '00'
                                    token:
                                      type: string
                                      example: '976307363'
                                    txnAmt4d:
                                      type: integer
                                      format: int64
                                      example: 1000
                                    txnCcy:
                                      type: string
                                      example: '978'
                                    txnCtry:
                                      type: string
                                      example: IRL
                                    txnDesc:
                                      type: string
                                      example: ABC Coffee Shop
                                    txnStatCode:
                                      type: string
                                      example: A
                                    txnType:
                                      type: string
                                      example: A
                                    additionalDataDe48:
                                      type: string
                                      example: 010X610500000
                                    authorisedByGps:
                                      type: string
                                      example: 'N'
                                    avsResult:
                                      type: string
                                      example: 'N'
                                    mtId:
                                      type: string
                                      example: '0100'
                                    recordDataDe120:
                                      type: string
                                    additionalDataDe124:
                                      type: string
                        eventUuid:
                          type: string
                          description: >-
                            An internal Fire reference for the transaction
                            (UUID)
                          example: 42de0705-e3f1-44fa-8c41-79973eb80eb2
  '/v1/accounts/{ican}/transactions/filter':
    get:
      summary: Filtered list of transactions for an account (v1)
      deprecated: true
      description: >
        Retrieve a filtered list of transactions against an account. Recommended
        to use the v3 endpoint instead.

        * `dateRangeFrom` - A millisecond epoch time specifying the date range
        start date.

        * `dateRangeTo` - A millisecond epoch time specifying the date range end
        date.

        * `searchKeyword` - Search term to filter by from the reference field
        (`myRef`).

        * `transactionTypes` - One or more of the transaction types above. This
        field can be repeated multiple times to allow for multiple transaction
        types.

        * `offset` - The page offset. Defaults to 0. This is the record number
        that the returned list will start at. E.g. offset = 40 and limit = 20
        will return records 40 to 59.
      tags:
        - Transactions
      operationId: getTransactionsFilteredById
      parameters:
        - in: path
          name: ican
          schema:
            type: integer
            format: int64
            description: The ican of the account to retrieve
          required: true
        - in: query
          name: dateRangeFrom
          schema:
            type: integer
            format: int64
            description: A millisecond epoch time specifying the date range start date.
          required: true
        - in: query
          name: dateRangeTo
          schema:
            type: integer
            format: int64
            description: A millisecond epoch time specifying the date range end date.
          required: true
        - in: query
          name: searchKeyword
          schema:
            type: string
            description: Search term to filter by from the reference field (`myRef`).
          required: true
        - in: query
          name: transactionTypes
          schema:
            type: array
            items:
              type: string
            description: >-
              One or more of the transaction types above. This field can be
              repeated multiple times to allow for multiple transaction types.
          required: true
        - in: query
          name: offset
          schema:
            type: integer
            format: int64
            description: >-
              The page offset. Defaults to 0. This is the record number that the
              returned list will start at. E.g. offset = 40 and limit = 20 will
              return records 40 to 59.
          required: true
      responses:
        '200':
          description: >-
            An array of transaction objects for the account with a count
            (`total`) filtered by the specified query parameter.
          content:
            application/json:
              schema:
                title: cardTransactionsv1
                type: object
                properties:
                  total:
                    type: integer
                    example: 1
                    description: The total number of card transactions in the list.
                  dateRangeTo:
                    type: integer
                    example: 1547744156603
                    description: milisecond timestamp of date range to value.
                  transactions:
                    type: array
                    items:
                      title: transaction
                      type: object
                      properties:
                        txnId:
                          type: integer
                          format: int64
                          description: >-
                            The id of this side of the transaction (each
                            transaction has two sides - a to and a from). This
                            is used to get the details of the transaction.
                          example: 30157
                        refId:
                          type: integer
                          format: int64
                          description: The id of the transaction.
                          example: 26774
                        ican:
                          type: integer
                          format: int64
                          description: >-
                            identifier for the fire.com account (assigned by
                            fire.com) This field is only used in the condensed
                            version.
                          example: 1951
                        currency:
                          title: currency
                          description: The currency.
                          type: object
                          properties:
                            code:
                              type: string
                              description: >-
                                The three letter code for the currency - either
                                `EUR` or `GBP`.
                              enum:
                                - EUR
                                - GBP
                            description:
                              type: string
                              description: The name of the currency
                              example: Euro
                        amountBeforeCharges:
                          type: integer
                          format: int64
                          description: >-
                            Amount of the transaction before the fees and taxes
                            were applied.
                          example: 5000
                        feeAmount:
                          type: integer
                          format: int64
                          description: 'The amount of the fee, if any.'
                          example: 0
                        taxAmount:
                          type: integer
                          format: int64
                          description: >-
                            The amount of the tax, if any (e.g. Stamp duty for
                            ATM transactions)
                          example: 0
                        amountAfterCharges:
                          type: integer
                          format: int64
                          description: >-
                            Net amount lodged or taken from the account after
                            fees and charges were applied.
                          example: 5000
                        balance:
                          type: integer
                          format: int64
                          description: >-
                            the balance of the account (in minor currency units
                            - pence, cent etc. 434050 == 4,340.50 GBP for a GBP
                            account).
                          example: 8500
                        myRef:
                          type: string
                          description: The comment/reference on the transaction
                          example: Transfer to main account
                        yourRef:
                          type: string
                          description: >-
                            The comment/reference on the transaction that
                            appears on the recipients statement. Only for
                            withdrawals
                          example: From John Smith
                        date:
                          type: string
                          format: date-time
                          description: Date of the transaction
                          example: 2021-04-13T11:06:32.437Z
                        paymentRequestPublicCode:
                          type: string
                          description: >-
                            (FOP payments only) The FOP Payment Code that was
                            used to make this payment.
                          example: 1abcdefg
                        card:
                          title: relatedCard
                          description: Details of the card used (if applicable)
                          type: object
                          properties:
                            cardId:
                              type: integer
                              format: int64
                            provider:
                              type: string
                            alias:
                              type: string
                            maskedPan:
                              type: string
                            embossCardName:
                              type: string
                            embossBusinessName:
                              type: string
                            expiryDate:
                              type: string
                              format: date-time
                        type:
                          type: string
                          description: "The type of the transaction:\n* `LODGEMENT` - Bank Transfer received\n* `PIS_LODGEMENT` - Fire Open Payments Lodgement received\n* `MANUAL_TRANSFER` - Manual Transfer to\n* `WITHDRAWAL` - Bank Transfer sent\n* `REVERSAL` - Credit Reversal\n* `DIRECT_DEBIT` - A direct debit.\n* `DIRECT_DEBIT_REPRESENTED` - A Direct Debit that was requested again after initially failing.\n* `DIRECT_DEBIT_REFUND` - A refund of a Direct debit.\n* `INTERNAL_TRANSFER_TO` - Internal Transfer sent (between two of my accounts of the same currency)\n* `INTERNAL_TRANSFER_FROM` - Internal Transfer received (between two of my accounts of the same currency)\n* `WITHDRAWAL_RETURNED` - Bank Transfer sent returned\n* `LODGEMENT_REVERSED` - Bank Transfer received returned\n* `FX_INTERNAL_TRANSFER_FROM` - FX Internal Transfer received (between two of my accounts of different currency)\n* `FX_INTERNAL_TRANSFER_TO` - FX Internal Transfer sent (between two of my accounts of different currency)\n* `CREATE_CARD` - The fee taken when a debit card is issued.\n* `ADD_ACCOUNT` - The fee taken when an account is created.\n* `CREATE_ADDITIONAL_USER` - The fee taken when an additional user is created.       \n* `CARD_POS_CONTACT_DEBIT` - Card used in store; read by magnetic stripe or pin\n* `CARD_POS_CONTACT_CREDIT` - Card used in store; read by magnetic stripe or pin\n* `CARD_POS_CONTACTLESS_DEBIT` - Card used in store; read by NFC\n* `CARD_POS_CONTACTLESS_CREDIT` - Card used in store; read by NFC\n* `CARD_ECOMMERCE_DEBIT` - Card used on the internet\n* `CARD_ECOMMERCE_CREDIT` - Card used on the internet\n* `CARD_ATM_DEBIT` - Card used in an ATM\n* `CARD_ATM_CREDIT` - Card used in an ATM\n* `CARD_INTERNATIONAL_POS_CONTACT_DEBIT` - Card used in store in non-processing currency; read by magnetic stripe or pin\n* `CARD_INTERNATIONAL_POS_CONTACT_CREDIT` - Card used in store in non-processing currency; read by magnetic stripe or pin\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT` - Card used in store in non-processing currency; read by NFC\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT` - Card used in store in non-processing currency; read by NFC\n* `CARD_INTERNATIONAL_ECOMMERCE_DEBIT\t` - Card used on the internet in non-processing currency\n* `CARD_INTERNATIONAL_ECOMMERCE_CREDIT` - Card used on the internet in non-processing currency\n* `CARD_INTERNATIONAL_ATM_DEBIT` - Card used in an ATM in non-processing currency\n* `CARD_INTERNATIONAL_ATM_CREDIT` - Card used in an ATM in non-processing currency\n* `CARD_POS_CONTACT_DEBIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed\n* `CARD_POS_CONTACT_CREDIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed\n* `CARD_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store; read by NFC - reversed\n* `CARD_POS_CONTACTLESS_CREDIT_REVERSAL` - Card used in store; read by NFC - reversed\n* `CARD_ECOMMERCE_DEBIT_REVERSAL\t` - Card used on the internet - reversed\n* `CARD_ECOMMERCE_CREDIT_REVERSAL` - Card used on the internet - reversed\n* `CARD_ATM_DEBIT_REVERSAL` - Card used in an ATM - reversed\n* `CARD_ATM_CREDIT_REVERSAL` - Card used in an ATM - reversed\n* `CARD_INTERNATIONAL_POS_CONTACT_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed\n* `CARD_INTERNATIONAL_POS_CONTACT_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT_REVERSAL` - One or more of the transaction types above. This field can be repeated multiple times to allow for multiple transaction types.\n* `CARD_INTERNATIONAL_ECOMMERCE_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_ECOMMERCE_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed\n* `CARD_INTERNATIONAL_ATM_DEBIT_REVERSAL` - Card used on the internet in non-processing currency - reversed\n* `CARD_INTERNATIONAL_ATM_CREDIT_REVERSAL` - Card used on the internet in non-processing currency - reversed\n"
                          example: WITHDRAWAL
                        dateAcknowledged:
                          type: string
                          format: date-time
                          example: 2021-04-13T11:06:32.437Z
                        fxTradeDetails:
                          title: fxTrade
                          description: Details of the FX trade (if applicable)
                          type: object
                          properties:
                            buyCurrency:
                              type: string
                              description: currency which is being bought
                              example: GBP
                            sellCurrency:
                              type: string
                              example: EUR
                              description: currency which is being sold
                            fixedSide:
[...]
